---
import MySiteLayout from "../layouts/MainLayout.astro";
---

<MySiteLayout title="About alex">
  <div class="about-content">
    <h2>Our Story</h2>
    <p>
      Welcome to our blog! We are passionate about sharing our experiences and
      insights with the world.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra,
      velit sit amet ultrices finibus, magna enim mollis ex, ac congue est arcu
      at lorem. Donec convallis massa nec ipsum tincidunt vehicula. Integer
      auctor pharetra enim, sit amet consequat odio mattis nec. Phasellus
      consectetur libero non sapien fermentum mollis.
    </p>
    <h2>Our Mission</h2>
    <p>
      Our mission is to provide valuable content to our readers and inspire them
      to explore new ideas and perspectives.
    </p>
  </div>
</MySiteLayout>
