---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro'
import Header from '../components/Header.astro'
const title = "This is the blog section"
const data = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{data.frontmatter?.title ? data.frontmatter?.title : data.title}</title>
	</head>
	<body>
		<Header title={title} />
        <Navigation />
		<div class="container">
			<slot />
		</div>
		<script>
			import "../scripts/menu.js";
		  </script>
	</body>
</html>
